#header-container{
    background-image: url("../../../assets/images/banner-bg.jpg");
    background-position: center bottom;
    height: fit-content;
    background-size: cover;
    border-radius: 0 0 150px 150px ;
}
