<div id="header-container">
    <app-navbar></app-navbar>
    <div class="container header-sec">
        <div class="row">
            <div class="col-md-6 header-text">
                <h3>Welcome To Lugix</h3>
                <h1>Best Gaming Site Ever</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia soluta reiciendis, minus alias hic minima rem est ipsam quis suscipit quo nisi blanditiis impedit excepturi consectetur repellendus. Id, explicabo iure.</p>
            </div>
            <div class="image-header col-md-6">
                <img src="../../../assets/images/banner-image.jpg" alt="">
            </div>
        </div>
    </div>
</div>

