<div class="container header-sec">
    <div class="row">
        <div class="col-lg-6 header-text">
            <h3>Welcome To Lugix</h3>
            <h1>Best Gaming Site Ever</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia soluta reiciendis, minus alias hic minima rem est ipsam quis suscipit quo nisi blanditiis impedit excepturi consectetur repellendus. Id, explicabo iure.</p>
            <div id="searchContainer">
            <input type="text" id="searchInput" placeholder="Type Something">
            <button>SEARCH</button>
            </div>
        </div>
        <div class="image-header col-lg-6">
            <img src="../../../assets/images/banner-image.jpg" alt="">
        </div>
    </div>
</div>
